<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=], initial-scale=1.0" />
		<title>Breadcrums</title>
		<link rel="stylesheet" href="../../styles.css" />
	</head>
	<body>
		<div class="ld-container">
			<div class="ld-breadcrumb">
				<li class="ld-breadcrumb__item">Courses</li>
				<li class="ld-breadcrumb__item">
					Tristique Magna Sit Amet Purus Gravida Quis Blandit Turpis
					Cursus
				</li>
			</div>
		</div>

		<p>
			<a href="../../index.html">Back to index</a>
		</p>
	</body>
</html>
