<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rating</title>
	<link rel="stylesheet" href="../../styles.css">
</head>
<body>
	<h1>Star Rating component</h1>
	<div class="ld-container">
		<div class="ld-star-rating">
			<span
				class="ld-star-rating__star ld-star-rating_star--filled"
			></span>
			<span
				class="ld-star-rating__star ld-star-rating__star--filled"
			></span>
			<span
				class="ld-star-rating__star ld-star-rating__star--filled"
			></span>
			<span
				class="ld-star-rating__star ld-star-rating__star--empty"
			></span>
			<span
				class="ld-star-rating__number"
			>19</span>
		</div>
	</div>
	<p>
		<a href="../../">Back to index</a>
	</p>
</body>
</html
