// Page structure for the list of courses
.ld-courses {
	display: grid;
	grid-template-areas:
		"toggle search search"
		"list list list"
		"pag pag pag";

	&__toggle {
		grid-area: toggle;
	}

	&__search {
		grid-area: search;
	}

	&__filters {
		grid-area: filters;
		grid-column: 1 / 1;
		width: 0;
		overflow: hidden;
	}

	&__list {
		grid-area: list;
	}

	&__pagination {
		grid-area: pag;
	}

	&#{&}--show-filters {
		grid-template-areas:
			"toggle search search search"
			"filters list list list"
			"pag pag pag pag";
	}

	&#{&}--show-filters &__filters {
		width: auto;
	}
}
