// Styles the grid for the course landing page
.ld-course-info {
	display: grid;
	gap: 16px;
	grid-template-areas:
		"breadcrumbs aside"
		"title aside"
		"main aside";
	grid-template-columns: auto 350px;

	@include break-tablet {
		display: initial;
	}

	&__breadcrumbs {
		grid-area: breadcrumbs;
	}

	&__title {
		grid-area: title;
	}

	&__aside {
		grid-area: aside;
	}

	&__main {
		grid-area: main;
		display: grid;
	}

	&__content {
		grid-area: 2 / 1 / 3 / 2;
		background-color: var(--ld-color-body-bg);
		position: relative;
		z-index: -1;
	}

	&__content#{&}__content--active {
		z-index: 0;
	}

	&__materials {
		grid-area: 2 / 1 / 3 / 2;
		background-color: var(--ld-color-body-bg);
		position: relative;
		z-index: -2;
	}

	&__materials#{&}__materials--active {
		z-index: 0;
	}
}
