// Styles the subscription section on the course landing page.
.ld-course-aside {


	&__subtitle {
		font-size: 70%;
		font-weight: 400;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}

	&__price {
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	&__cta button {
		// This has to be moved to a "buttons" block
		background: #333;
		color: #fff;
		border: none;
		display: block;
		width: 100%;
		border-radius: 3px;
		padding: 16px;
		font-weight: 700;
		font-size: 1.05rem;
		margin-bottom: 1rem;
	}

	&__instructors {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__instructor {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-rows: auto;
		grid-template-areas:
			"avatar name"
			"avatar title";
		margin-bottom: 16px;
		font-size: 80%;
	}

	&__avatar {
		grid-area: avatar;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__instruct-name {
		grid-area: name;
		font-weight: 700;
	}

	&__instruct-title {
		grid-area: title;
		font-weight: 300;
	}
}
