.ld-lesson {

    &__items {
        margin-top: 2rem; // TODO: Refactor.
        display: flex;
        flex-direction: column;
        gap: 1.5rem; // TODO: Refactor.
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--border-color); // TODO: Refactor.
        padding: 1.5rem; // TODO: Refactor.
    }

    &__item-heading {
        display: flex;
        align-items: center;
        gap: 1rem; // TODO: Refactor.
    }

    &__item-image {
        width: 24px;
        height: 24px;
    }

    &__item-title {
        font-weight: 500;
    }

    &__item-status {
        font-size: .875rem; // TODO: Refactor.
    }
}
