.ld-progress {
    margin: 1.5rem 0; // TODO: Refactor.

    &__bar {
        height: 16px;
        margin: .7rem 0; // TODO: Refactor.
        border-radius: var(--progress-bar-border-radius); // TODO: Refactor.
        background-color: var(--progress-bar-background-color); // TODO: Refactor.
        overflow: hidden;
    }

    &__bar-inner {
        height: 100%;
        background-color: var(--progress-bar-foreground-color); // TODO: Refactor.
    }

    &__info {
        display: flex; // TODO: Refactor.
        justify-content: space-between; // TODO: Refactor.
        align-items: center; // TODO: Refactor.
    }

    &__percentage, &__label {
        font-size: .8rem;
    }

    &__percentage {
        font-weight: 600; // TODO: Refactor.
    }
}
