.ld-main-content {
    &__wrapper {
        display: grid;
        max-width: var(--container-width-desktop);
        padding: 0 var(--container-padding-desktop);
        grid-template-columns: var(--main-content-grid-columns);
        gap: var(--main-content-column-gap);
        margin: 0 auto;

        & > * {
            padding: 4px 8px;
            border: 1px solid rgba(black, .2); // Just for Debugging:
        }
    }

    &__breadcrumbs {
        grid-column: 1 / 3;
    }

    &__breadcrumbs__item {
        &::after {
            content: '/'; // TODO: Refactor.
            margin-left: 5px; // TODO: Refactor.
        }

        &:last-child::after {
            content: ''; // TODO: Refactor.
        }
    }

    &__header {
        grid-column: 1 / 2;
    }

    &__enrollment ,
    &__lessons {
        display: inline-block;
        border-right: 1px solid #ccc;
        padding: 0 8px;
    }

    &__indicators {
        display: flex;
    }

    &__indicator {
        padding: 0 5px; // TODO: Refactor.
    }

    &__aside {
        grid-column: 2 / 3;
        grid-row: 2 / 5;
    }

    &__nav {
        grid-column: 1 / 2;
    }

    &__navmenu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    &__navitem a {
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
    }

    &__navitem--active a {
        border-bottom: 2px solid #555;
    }

    &__tabs {
        display: flex;
        padding: 0; // TODO: Refactor.
    }

    &__tab {
        padding: 0 5px; // TODO: Refactor.
    }

    &__main {
        grid-column: 1 / 2;
    }

    &__main {
        grid-column: 1 / 2;
    }
}
