.ld-breadcrumb {
	grid-column: 1 / 3;
	display: flex; // TODO: Refactor.
	padding: .5rem; // TODO: Refactor.
	list-style: none;

	&__item {
		font-size: 1rem; // TODO: Refactor.

		&::after {
			content: "/"; // TODO: Refactor.
			margin-right: .25rem; // TODO: Refactor.
		}

		&:last-child::after {
			content: ""; // TODO: Refactor.
		}
	}
}
