.ld-container {

	&__wrapper {
		display: grid;
		max-width: var(--container-width-desktop);
		padding: 0 var(--container-padding-desktop);
		grid-template-columns: var(--container-grid-columns);
		gap: var(--container-column-gap);
		margin: 0 auto;

		> * {
			padding: 4px 8px;
			border: 1px solid rgba(#000, 0.2); // Just for Debugging:
		}
	}
}
