.ld-breadcrumb {
	display: flex;
	padding: 16px 20px;
	margin: 0;
	list-style: none;

	&__item {
		&::after {
			content: "\203A";
			margin: 0 8px;
		}

		&:last-child::after {
			content: "";
		}
	}
}
