:root {
    /** Typography **/
    --type-font-family-body: Inter, -apple-system, roboto, ubuntu, sans-serif;
    --type-font-size-body: 1.125rem;
    --type-line-height-body: 1.25rem;

    /** Container margins and padding **/
    --container-width-desktop: 1200px;
    --container-padding-desktop: 8px;

    /** Site body **/
    --body-bg-color: #fff;

    /** Site Header **/
    --site-header-bg-color: #fff;
    --site-header-border-color: #ddd;

    /** Main Content (Course content, Grid info, Lesson, etc) **/
    --main-content-column-gap: 0 30px;
    --main-content-grid-columns: 2fr 1fr;

    /** TODO: Where should it go? **/
    --border-color: #ddd;

    /** Progress Bar TODO: Where should it go? **/
    --progress-bar-border-radius: 2px;
    --progress-bar-background-color: #F5F5F5;
    --progress-bar-foreground-color: #000;
}
