:root {

	/** Typography **/
	--type-font-family-body: inter, -apple-system, roboto, ubuntu, sans-serif;
	--type-font-size-body: 1.125rem;
	--type-line-height-body: 1.25rem;

	/** Container margins and padding **/
	--container-width-desktop: 1200px;
	--container-padding-desktop: 8px;
	--container-column-gap: 0 30px;
	--container-grid-columns: 2fr 1fr;

	/** Site body **/
	--body-bg-color: #fff;

	/** Site Header **/
	--site-header-bg-color: #fff;
	--site-header-border-color: #ddd;

	/** TODO: Where should it go? **/
	--border-color: #ddd;

    /** Progress Bar **/
    --progress-bar-border-radius: 2px;
    --progress-bar-background-color: #F5F5F5;
    --progress-bar-foreground-color: #000;

	/** Progress Pie **/
	--progress-pie-size-small: 14px;
	--progress-pie-size-medium: 22px;

	/** Alert Widget **/
	--alert-border-radius: 6px;
	--alert-background-color: #7A7A7A;
	--alert-text-color: #FFF;
}
