:root {
    /** Typography **/
    --type-font-family-body: Inter, -apple-system, roboto, ubuntu, sans-serif;
    --type-font-size-body: 1.125rem;
    --type-line-height-body: 1.25rem;

    /** Container margins and padding **/
    --container-width-desktop: 1200px;
    --container-padding-desktop: 8px;


    /** Site Header **/
    --site-header-bg-color: #fff;
    --site-hader-border-color: #ddd;
}
