.ld-lesson-pagination {
    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0 0 0; // TODO: Refactor.
    }

    &__pagination-item {
        display: flex;
        flex-direction: column;
    }

    &__pagination-item--next {
        text-align: right;
    }
}
