// SCSS Variables

// the @media statement does not access html variables.
$break-tablet: 640px; // = $break-medium; admin bar goes big
$break-desktop: 940px; // = $break-large; admin sidebar auto folds
$break-desktop-lg: 1440px;

// CSS Variables.
:root {

	/** Colors **/
	--ld-color-primary: #3259eb;
	--ld-color-secondary: #ffd057;
	--ld-color-tertiary: #479bf8;
	--ld-color-success: #57ce95;
	--ld-color-error: #f3695c;
	--ld-color-dark: #0e0e2c;
	--ld-color-body: #4a4a68;
	--ld-color-subtitle: #8c8ca1;
	--ld-color-contrast: #dce1e8;
	--ld-color-light-1: #f3f8ff;
	--ld-color-light-2: #f7f9fc;
	--ld-color-white: #fff;

	/** Typography **/
	--ld-font-family: inter, -apple-system, roboto, ubuntu, sans-serif;
	--ld-font-size: clamp(0.875rem, calc(0.875rem + (1 - 0.875) * ((100vw - 40rem) / (90 - 40))), 1rem);
	--ld-line-height: 1.5;

	/* Headings */
	--ld-h1-size: clamp(2.5rem, calc(2.5rem + (4 - 2.5) * ((100vw - 40rem) / (90 - 40))), 4rem);
	--ld-h1-weight: bold;
	--ld-h1-spacing: -2%;
	--ld-h1-height: 1.125;

	--ld-h2-size: clamp(2rem, calc(2rem + (3 - 2) * ((100vw - 40rem) / (90 - 40))), 3rem);
	--ld-h2-weight: bold;
	--ld-h2-spacing: -2%;
	--ld-h2-height: 1.125;

	--ld-h3-size: clamp(1.5rem, calc(1.5rem + (2 - 1.5) * ((100vw - 40rem) / (90 - 40))), 2rem);
	--ld-h3-weight: bold;
	--ld-h3-spacing: -2%;
	--ld-h3-height: 1.25;

	--ld-h4-size: clamp(1.25rem, calc(1.25rem + (1.5 - 1.25) * ((100vw - 40rem) / (90 - 40))), 1.5rem);
	--ld-h4-weight: 500;
	--ld-h4-spacing: inherit;
	--ld-h4-height: 1.2;

	/** Buttons **/
	--ld-button-bg: var(--ld-color-primary);
	--ld-button-color: var(--ld-color-white);
	--ld-button-bg-hover: #2c4fd1;
	--ld-button-height: 2.85rem;
	--ld-button-font-size: var(--ld-font-size);
	--ld-button-font-size-lg: calc(var(--ld-button-font-size) * 1.14);
	--ld-button-border-radius: 4px;
	--ld-button-border-radius-rounded: 100px;

	/** Container margins and padding **/
	--ld-container-padding: 8px;

	/** Site body **/
	--body-bg-color: #fff;

	/** TODO: Where should it go? **/
	--border-color: #ddd;

	/** Progress Bar **/
	--progress-bar-border-radius: 2px;
	--progress-bar-background-color: #f5f5f5;
	--progress-bar-foreground-color: #000;

	/** Progress Pie **/
	--progress-pie-size-small: 14px;
	--progress-pie-size-medium: 22px;

	/** Alert Widget **/
	--alert-border-radius: 6px;
	--alert-background-color: #7a7a7a;
	--alert-text-color: #fff;
}
